 @import url("https://fonts.googleapis.com/css2?family=Arimo&family=Cairo:wght@200..1000&display=swap");
:root{
    --blue: #0080ff
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
text-decoration: none;
}
html {
  scroll-behavior: smooth;
font-size: 62.5%;
overflow-x: hidden;
}

body {
  font-family: "Cairo", sans-serif;
  scroll-behavior: smooth;
}
 

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #96ceb4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 2rem 9%;
}
header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  text-transform: uppercase;
}
header .logo span{
  color: var(--blue);
}
header .navbar a{
  color: #fff;
  font-size: 2rem;
  margin: 0 .8rem;
}

header .navbar a:hover{
  color: var(--blue);
}
header .icon i{
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  margin-left: 2rem;
}
header .icon i:hover{
  color: var(--blue);
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  color: white;
  padding: .8rem 3rem;
  border: .2rem solid var(--blue);
  cursor: pointer;
  font-size: 1.7rem;
  background: rgba(255, 165, 0, .2);
}.btn:hover{
  color: #fff;
  background: var(--blue);
}

#menu-bar{
  color: #fff;
  border: .1rem solid #fff;
  border-radius: .5rem;
  font-size: 3rem;
  padding: .5rem 1.2rem;
  cursor: pointer;
  display: none;
}


.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
background: #96ceb4;
}
.home .content{
  text-align: center;
}
.home .content h3{
  font-size: 4.5rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.1);
}
.home .content p{
  font-size: 2.5rem;
  color: #fff;
  padding: .5rem 0;
}
.home .video-container video{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.home .controls{
  padding: 1rem;
  border-radius: 5rem;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 10rem;
}

.home .controls .video-btn{
  height: 2rem;
  width: 2rem;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: 0 .5rem;
}
.home .controls .video-btn.blue{
  background: var(--blue);
}


/* services */

.services {

  width: 100%;
}
.services .main {
  max-width: 1200px;
  padding: 40px 20px;
  z-index: 9;
  text-align: center;
  margin: auto;
}
.services .main h1 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 90px;
}
.services .main .boxs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px 70px;
  flex-wrap: wrap;
}
.services .main .boxs .info {
  width: fit-content;
  min-width: 350px;
  max-width: 40%;
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  background-color: #F0F1FC;
  border-radius: 14px;
  text-decoration: none;
  transition: .5s;
  position: relative;
}
.services .main .boxs .info:hover{
  /* transform: scale(1.05); */
  box-shadow: 10px 10px 20px #00000038;
  background-color: #FEF5F5;
}
.services .main .boxs .info:hover >  div{
  color: #F0532D !important;
}
.services .main .boxs .info:hover >  .img-services img{
  transform: scale(1.2);
}
.services .main .boxs .info .img-services {
  width: 100%;
  height: 220px;
  border-radius: 14px 14px 0px 0;
  margin-bottom: 20px;
  overflow: hidden;
}
.services .main .boxs .info .img-services img {
  width: 100%;
  height: 100%;
  transition: .5s;
}
.services .main .boxs .info h1 {
  font-size: 18px;
  font-weight: 600;
  color: #2D2D2D;
  margin: 0;
  padding: 0 20px;
}
.services .main .boxs .info p {
  font-size: 12px;
  color: #6F6F6F;
  margin-bottom: 10px;
  line-height: 1.8;
  text-align: justify;
  width: 90%;
  padding: 0 20px;
}
.services .main .boxs .info div {
  font-size: 12px;
  padding: 12px 25px 12px 25px;
  border-radius: 14px;
  color: #0033CC;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: 0.5s;
  margin-right: 20px;
  margin-bottom: 20px;
}
.services .main .boxs .info div:hover {
  background-color: #f0542d2e;
  color: white;
}

.services .main .boxs .info .most{
  color: white;
  padding: 8px 17px;
  background: #F65E39;
  border-radius: 6px;
  font-size: 11px;
  position: absolute;
  top: 20px;
  left: 20px;
}


.services .main .boxs .info .best{
    color: white;
    padding: 8px 17px;
    background: #40cc37;
    border-radius: 6px;
    font-size: 11px;
    position: absolute;
    top: 20px;
    right: 20px;
}


@media only screen and (min-width: 768px) {
  .services .main {
    padding: 40px 80px;
    text-align: start;
  }
}

@media only screen and (min-width: 1024px) {
  .services .main {
    padding: 40px 40px;
    text-align: start;
  }
  .services .main .boxs .info{
    min-width: unset;
  }
}
/* services */

  

/* courses */
.courses {
  width: 100%;
  background-color: #FEF5F5;
}
.courses .main {
  max-width: 1300px;
  padding: 40px 40px;
  z-index: 9;
  text-align: center;
  margin: auto;
}
.courses .main h1 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 50px;
}
.courses .main .boxs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px 60px;
  flex-wrap: wrap;
}
.courses .main .boxs .info {
  width: 100%;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  background-color: white;
  border-radius: 14px;
  transition: .5s;
}
.courses .main .boxs .info:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 20px #00000038;
}
.courses .main .boxs .info:hover > a{
  color: #ba2f0c;
  gap: 40px;
}
.courses .main .boxs .info h1 {
  font-size: 26px;
  font-weight: 600;
  color: #2D2D2D;
  margin: 0;
}
.courses .main .boxs .info p {
  font-size: 14px;
  color: #6F6F6F;
  margin-bottom: 20px;
  line-height: 1.8;
  text-align: justify;
}
.courses .main .boxs .info a {
  border-radius: 14px;
  color: #F65E39;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: 0.5s;
}
.courses .main .boxs .info a:hover {
  color: #ba2f0c;
  gap: 40px;
}

@media only screen and (min-width: 768px) {
  .courses .main .boxs .info {
    width: 350px;
  }
}

@media only screen and (min-width: 1180px) {
  .courses .main .boxs .info {
    width: 500px;
  }
}
@media only screen and (min-width: 1440px) {
  .courses .main .boxs .info {
    width: 580px;
  }
}
/* courses */


/* reviews */
/* header */
  /* section */
  .all-blogs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .all-blogs .all-blogs-button {
    background: rgba(205, 205, 205, 0.6588235294);
    padding: 15px 45px 15px 45px;
    border-radius: 5px;
    color: #6D6D6D;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: 0.5s;
    margin-bottom: 20px;
    width: max-content;
  }
  .all-blogs .all-blogs-button:hover {
    background-color: #cacaca;
  }
/* blog */

/* reviews */
.review {
  width: 100%;
  background-color: #FEF5F5;
}
.review .main {
  max-width: 1200px;
  padding: 40px 20px;
  z-index: 9;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.review .main h1 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 50px;
}
.review .main .swiper-slide {
  width: auto;
}
.review .main .swiper-slide .info:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 20px #00000038;
}

.review .main .swiper-slide .box {
  width: 100%;
  background-color: #fff;
text-decoration: none;
  
}


.review .box{
    padding: 2rem;
    text-align: center;
    box-shadow: 0 1 2rem rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}
.review .box img{
    width: 10rem;
    border-radius: 70%;
    object-fit: cover;
    margin-bottom: 1rem;
}
.review .box h3{
    color: #333;
    font-size: 2.5rem;
}
.review .box p{
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}
.review .box .stars i{
    color: var(--blue);
    font-size: 1.7rem;
}

/* footer */
footer{
  width: 100%;
  background-color: #96ceb4;
  margin-top: 40px;
}

footer .main{
  width: 100%;
  max-width: 1200px;
  padding: 40px 40px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 40px;
}

footer .main .about-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 350px;
}
footer .main .about-info img{
  width: 80px;
}
footer .main .about-info p{
  font-size: 16px;
  color: white;
  margin: 0;
  margin-bottom: 30px;
  line-height: 1.8;
  text-align: center;
}
.main-side-footer{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 50px 30px;
}
.main-side-footer .pages, .main-side-footer .help{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.main-side-footer .pages h1, .main-side-footer .help h1{
  margin: 0;
  color: white;
  font-size: 22px;
  font-weight: 700;
}
.main-side-footer .pages ul,
.main-side-footer .help ul{
  width: 100%;
  text-align: start;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-side-footer .pages ul li, .main-side-footer .help ul li{
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  transition: .5s;
  position: relative;
}
.main-side-footer .pages ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 0%;
  height: 1px;
  background-color: #F65E39;
  transition: 0.5s;
}
.main-side-footer .pages ul li:hover a::after {
  width: 100%;
}
.main-side-footer .help ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 0%;
  height: 1px;
  background-color: #F65E39;
  transition: 0.5s;
}
.main-side-footer .help ul li:hover a::after {
  width: 100%;
}
.main-side-footer .pages ul a, .main-side-footer .help ul a{
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.main-side-footer .social{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  place-self: center;
}

.main-side-footer .social .content {
  background-color: #F65E39;
  font-size: 12px;
  padding: 16px 45px 16px 45px;
  border-radius: 14px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: 0.5s;
  margin-bottom: 20px;
}
.main-side-footer .social .content:hover {
  background-color: #bc4122;
  color: white;
}


.main-side-footer .social ul {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main-side-footer .social ul li{
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #F65E39;
  transition: .5s;
}
.main-side-footer .social ul li:hover{
  background-color: #c32f0a;
}
.main-side-footer .social ul li a{
  color: white;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .main-side-footer{
    gap: 50px 120px;
  }
  footer .main{
    padding: 10px 40px;
  }

  .main-side-footer .pages, .main-side-footer .help{
    align-items: start;
  }
  .main-side-footer .pages ul li, .main-side-footer .help ul li{
    text-align: start;
  }
  footer .main .about-info{
    align-items: start;
  }
  footer .main .about-info p{
  text-align: start;
  }
}

@media only screen and (min-width: 1024px) {

  footer .main{
    padding: 40px 80px;
  }
}

@media only screen and (min-width: 1200px) {

  footer .main{
    width: 100%;
    max-width: 1250px;
    gap: 10px 80px;
  }
  .main-side-footer{
    gap: 50px 140px;
  }
}
/* footer */
@media (max-width:990px){

    #menu-bar{

        display: initial;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #96ceb4;
        border-top: .1rem solid rgba(255, 255, 255, .2);
        padding: 1rem 2rem;
        clip-path: polygon(0 0 , 100% 0 , 100% 0 , 0 0);
    }
    header .navbar.active{
        clip-path: polygon(0 0 , 100% 0 , 100% 100% , 0 100%);
    }

    header .navbar a{
        display: block;
        border-radius: .5rem;
        padding: 1.5rem;
        margin: 1.5rem 0;
        
        border-top: .1rem solid rgba(255, 255, 255, .2);
    }
    html{
        font-size: 50%;
    }
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .services .container {
    display: block;
  }

}

/* whatsapp */
.whatsapp{
  position: fixed;
  right: 40px;
  bottom: 50px;
  width: 70px;
  height: 70px;
  background-color: #00E510;
  color: white;
  border-radius: 100%;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatsapp:hover{
  background-color: #00b40c;
  transition: .5s;
}
.whatsapp a{
  font-size: 40px;
  color: white;

}
/* whatsapp */


























































