body{
    font-family: 'Montserrat', sans-serif;
}
.header {
	height: 100vh;
	background-image: url(img/logoo.jpg);
	background-size: cover;
	background-position: center;
}
.carousel-item{
  margin-top:20%;
}
.carousel-item h1 {
color:#9c9c9c;
font-size: 50px;text-transform: uppercase;
font-family: 'Alfa Slab One', cursive;
}

.navbar-inverse {
background-color: transparent;
border-color: transparent;
}
.navbar-inverse .navbar-brand {
	color: #fff;
	font-family: 'Alfa Slab One', cursive;
	font-size: 25px;
}
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}

@media (min-width: 768px) and (max-width: 991px){
    .header {
	background-position: 68%;
}
}

.port {
	padding: 5%;
}
.gallery-item {
	position: relative;
	box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.5);
}
/* overlay */

.gallery-item img {
	width: 100%;
}
.gallery-item .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 20px;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.5s ease;
}
.gallery-item:hover .overlay {
	opacity: 1;
}
.gallery-item .overlay h3 {
	font-size: 24px;
	margin-bottom: 10px;
}
.gallery-item .overlay p {
	font-size: 16px;
	margin-bottom: 20px;
}
.gallery-item .overlay .btn {
	font-size: 16px;
}
.modal {
	background: rgba(0, 0, 0, 0.8);
}

/* start services*/
/*services start style*/
.protfile{
background-color:#f7f9f9;
}

.services .card .icon{
	font-size:3rem;
	color:lightseagreen;
	}
	
	.services .card-text{
	color: grey;
	}
	
	.services .card:hover{
	background-color:#f6f1f1;
	}
	
	.services .card{
	transition:all 0.5s;
	cursor: pointer;
	}
	
	
/*end services style*/


/* swiper start main*/

/*swiper*/
.slider-wrapper {
	overflow: hidden;
	max-width: 1200px;
	margin: 0 50px 55px;
	height:400px;
  }
  
  
  .card-list .card-item {
	height: auto;
	user-select: none;
	display: flex;
	flex-direction: column;
	align-items: right;
	justify-content:flex-start;
	border-radius: 15px;
	backdrop-filter: blur(30px);
	background:#fff;
	border: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  
/* activity */
.review {
	width: 100%;
	background-color: #fefcfc;
  }
  .review .main {
	max-width: 1200px;
	padding: 40px 20px;
	z-index: 9;
	text-align: center;
	margin: auto;
	cursor: pointer;
  }
  
  .review .card{
  background-color:white;
  color: black;
  padding:3em 0;
  border:0;
  border-radius:4em 0;
  background: linear-gradient(to left,white 50%,#f7f9f9 50%);
  background-size:200%;
  background-position:right;
  transition: all .5s;
  max-height:300px;
  }
  


  .review .card:hover{
	background-position:left;
  }
  
  .review .card .card-title{
  font-size:1.2rem;
  }
  
  .review .card .card-text{
  font-size:1rem;
  }

  .swiper-button-prev:after,.swiper-button-next:after{
  color: white;
  background-color:#a6bbf5;
  border-radius:50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  font-size:2rem;
  }

.services-main{
display:none;
}
/* end activity swiper*/


  
  @media (max-width: 768px) {
	.slider-wrapper {
	  margin: 0 10px 40px;
	}
  
	.slider-wrapper .swiper-slide-button {
	  display: none;
	}
  }
  
/*end swiper main*/  


@media (max-width: 991px) {
	.gallery-item {
		margin-bottom: 30px;
	}
}