
* {
	font-family: 'Cairo', sans-serif; 
}
.btn-primary {
    background-color: #ff6f61; /* لون الخلفية */
    border-color: #ff6f61; /* لون الإطار */
    padding: 15px 30px; /* الحجم الكبير للزر */
    font-size: 20px; /* حجم الخط */
    border-radius: 50px; /* جعل الزر بأطراف دائرية */
    transition: background-color 0.3s, transform 0.3s; /* تأثير التحويم */
  }

  .btn-primary:hover {
    background-color: #e65a50; /* تغيير اللون عند التحويم */
    border-color: #e65a50; /* تغيير لون الإطار عند التحويم */
    transform: scale(1.05); /* تكبير الزر عند التحويم */
  }
 
.review {
width:100%;
}
  .review .main {
	max-width: 1200px;
	padding: 40px 20px;
	z-index: 9;
	text-align: center;
	margin: auto;
	cursor: pointer;
  }
.review .card {
	color:black;
	padding: 3em 0;
	border: 0;
	border-radius: 4em 0;
	background: linear-gradient(to left, white 50%, rgb(239, 250, 249) 50%);
	background-size: 200%;
	background-position: right;
	transition: all .5s;
	box-shadow: 0 10px 30px rgba(252, 248, 248, 0.8); /* زيادة العمق والتوهج */
  height:300px; /* تحديد ارتفاع ثابت */
  width:200px; /* تحديد عرض ثابت */
  overflow: hidden; /* لمنع الصورة من الخروج خارج الإطار */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  .review .card:hover{
  background-position:left;
  }
.review .card img {
  width: 120px; /* تحديد عرض ثابت للصورة */
  height: 120px; /* تحديد ارتفاع ثابت للصورة */
  object-fit: cover; /* لضبط الصورة بما يتناسب مع الإطار */
  border-radius: 50%; /* لجعل الصورة دائرية */
}

.review .card .card-title {
  font-size: 1.2rem;
  margin-top: 1em; /* إضافة مسافة بين الصورة والعنوان */
}

.review .card .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swiper-button-prev:after, .swiper-button-next:after {
  color: white;
  background-color: #a6bbf5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  font-size: 2rem;
}


 .portfolio-item {
      position: relative;
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .portfolio-item img {
    width: 100%;
    height:200px;  /* تحديد ارتفاع ثابت لجميع الصور */
    object-fit: cover; /* لضبط الصورة داخل الـ div بحيث لا يتم تشويهها */
    border-radius: 8px;
  }
    .portfolio-item:hover img {
      transform: scale(1.1);
    }
    .portfolio-item .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      color: white;
      opacity: 0;
      transition: opacity 0.3s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .portfolio-item:hover .overlay {
      opacity: 1;
    }
    .portfolio-item .overlay h4 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: bold;
    }

